{{ define "main" }}

{{ $permalink := .RelPermalink }}
{{ $date := .Date.Format "January 2, 2006" }}
{{ $lastmod := .Lastmod.Format "January 2, 2006" }}

<div class="flex flex-1 h-screen relative w-full min-w-0">

  <div class="overflow-y-auto h-screen w-full">
    <article class="px-6 py-20 w-full mx-auto prose lg:prose-lg h-fit dark:prose-invert prose-img:mx-auto">

      {{ $title := .Params.title }}
      <h1 class="!mb-2">{{ $title }}</h1>

	  {{ if .Date }}
      <p class="text-sm text-slate-500 !mb-8"> Posted {{ $date }}
		{{ if ne $lastmod $date}}
			<br/> Deleted {{ .Lastmod.Format "January 2, 2006" }}
        {{ end }}
	  </p>
      {{ end }}

      {{ with .Params.images }}
      {{- range first 1 . }}
      <img class="rounded max-w-full mx-auto mb-4" src="{{ . }}" alt="{{ $title }}" />
      {{ end -}}
      {{ end }}

      {{ .Content }}
    </article>
  </div>

</div>

{{ end }}